{% extends 'base.html' %}

{% block body %}
    <h1>Qui Som</h1>
    <div>
        <ul class="list-group mt-5">
            <li class="list-group-item">
                <h2> Omar Bajja</h2>
                <p class="ml-4">  texto</p>
            </li>
            <li class="list-group-item">
                <h2>Pol Micolau</h2>
                <p class="ml-4">  texto</p>
            </li>
            <li class="list-group-item">
                <h2>Roger Boadella</h2>
                <p class="ml-4">  texto</p>
            </li>
            <li class="list-group-item">
                <h2> Victor Arauzo</h2>
                <p class="ml-4">  texto</p>
            </li>
        </ul>
    </div>

{% endblock %}
