{% extends 'base.html' %}

{% block body %}
    <h1>Qui Som</h1>
    <div>
        <ul class="list-group mt-5">
            <li class="list-group-item">
                <h2> Omar Bajja</h2>
                <p class="lead ml-4">  Omar.bajja@e-campus.uab.cat</p>
            </li>
            <li class="list-group-item">
                <h2>Pol Micolau</h2>
                <p class="lead ml-4">  Pol.micolau@e-campus.uab.cat</p>
            </li>
            <li class="list-group-item">
                <h2>Roger Boadella</h2>
                <p class="lead ml-4">  Roger.boadella@e-campus.uab.cat</p>
            </li>
            <li class="list-group-item">
                <h2> Victor Arauzo</h2>
                <p class="lead ml-4">  Victor.arauzo@e-campus.uab.cat</p>
            </li>
        </ul>
    </div>

{% endblock %}
