{% extends 'base.html' %}
{% block body %}
    <h2 class="display-4">Llista de fitxers pujats</h2>

        {% for file in files %}
<hr>
            <tr class="container">
                <div class="col">
                    <td>File: {{ file.file }}</td><br>
                    <td>Subject: {{ file.subject }}</td><br>
                    <td>Professor: {{ file.prof }}</td><br>
                    <td>Day: {{ file.day }}</td><br>
                    <td>Month: {{ file.month }}</td><br>
                </div>
                <div style="display: inline-block;" class="col">

                        <td>
                            <form style="width: 10%;" method="post" action="{% url 'delete_file' file.pk %}">
                                {% csrf_token %}
                                <button title="Delete File" type="submit" class="btn btn-outline-primary "> Eliminar
                                </button>
                            </form>
                        </td>
                        <td class="ml-5">
                            <form style="width: 10%;" method="get" action="{% url 'start' file.pk %}">
                                {% csrf_token %}
                                <button title="Get the transcribed file" type="submit" class="btn  btn-outline-danger">Crear Doc
                                </button>
                            </form>
                        </td>

                {{ error }}
                </div>
            </tr>
        {% endfor %}

{% endblock %}



