{% extends 'base.html' %}
{% block body %}
    <h2 class="display-4">Llista de fitxer pujats</h2>

        {% for file in files %}
<hr>
            <tr class="row">
                <div class="col">
                    <td>File: {{ file.file }}</td><br>
                    <td>Subject: {{ file.subject }}</td><br>
                    <td>Professor: {{ file.prof }}</td><br>
                    <td>Day: {{ file.day }}</td><br>
                    <td>Month: {{ file.month }}</td><br>
                </div>
                <div class="col">
                    <div class="row ml-5">
                        <td>
                            <form method="post" action="{% url 'delete_file' file.pk %}">
                                {% csrf_token %}
                                <button title="Delete File" type="submit" class="btn btn-outline-primary "> Eliminar
                                </button>
                            </form>
                        </td>
                    </div>

                    <div class="row ml-5 mt-3">
                        <td>
                            <form method="get" action="{% url 'start' file.pk %}">
                                {% csrf_token %}
                                <button title="Get the transcribed file" type="submit" class="btn btn-outline-primary">Crear Doc
                                </button>
                            </form>
                        </td>
                    </div>
                {{ error }}
                </div>
            </tr>
        {% endfor %}

{% endblock %}



