{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Taking notes in autopilot</h1>
    <p class="lead">Mai pendre a punts ha sigut tan fàcil</p>
    
    <hr class="my-4">
    <h3 > Speech to text </h3>
    <p> Utilitzant una API de google i a partir d'una grabació d'una classe (format .wav) pots transcriure el teu professor i estalviar-te molt de temps fent els apunts </p>
    <h3 > Cloud Vision </h3>
    <p> Utilitzant una API de google i a partir d'una fotografia d'uns apunts escrits a mà pots transcriure la lletra teva o dels teus companys i estalviar-te molt de temps fent els apunts </p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Qui Som</a>
  </div>
{% endblock %}
