{% extends 'base.html' %}
{% load static %}
{% block body %}

<div style="height: 82.5vh">
    <div class="container">
        <h2 class="display-4">Tutorial</h2>
        <hr>
        <ul>
            <li> <b>Pujar el fitxer a transcriure i omplir les dades necessaries. </b> </li> <img src="{% static 'img/pas_1.png' %}">
            <li> <b> Anar a la llista de fitxer i clickar en crear el document. </b> </li> <img src="{% static 'img/pas_2.png' %}">
            <li> <b>Estudiar dels apunts fàcils. </b> </li>  <img src="{% static 'img/pas_3.png' %}">
        </ul>
        <br>
    </div>
</div>

{% endblock %}