{% extends 'base.html' %}

{% block body %}
    <div style="height: 82.5vh">
        <div class="container">
            <h2 class="display-4">Pujar fitcher</h2>
            <hr>
            <p>Els fitxers poden ser .WAV or .JPEG</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <p>Fitxer: {{ form.file }}</p>
                </div>
                <div class="row">
                    <p>Asignatura: {{ form.subject }}</p><div class="row">
                </div>
                <div class="row">
                    <p>Professor: {{ form.prof }}</p>
                </div>
                <div class="row">
                    <p>Dia: {{ form.day }}</p>
                <div class="row">
                    <p>Mes: {{ form.month }}</p>
                </div>
                <button title="Upload the file" type="submit" class="btn btn-outline-primary waves-effect">Upload File</button>
            </form>
        </div>
    </div>
{% endblock %}

