{% extends 'base.html' %}

{% block body %}
    <div style="height: 82.5vh">
        <div class="container">
            <h2 class="display-4">Pujar fitcher</h2>
            <hr>
            <p>Els fitxers poden ser .WAV or .JPEG</p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <p>Fitxer: {{ form.file }}</p>
                </div>

                <div class="row">
                    <div class="col"><p>Asignatura:</p></div><div class="col"><p> {{ form.subject }}</p></div>
                </div>

                <div class="row">
                    <div class="col"><p>Professor:</p></div><div class="col"><p> {{ form.prof }}</p></div>
                </div>

                <div class="row">
                    <div class="col"> <p>Dia:</p></div><div class="col"><p> {{ form.day }}</p></div>
                </div>
                <div class="row">
                    <div class="col"><p>Mes: </p></div><div class="col"><p> {{ form.month }}</p></div>
                </div>
                <button title="Upload the file" type="submit" class="btn btn-outline-primary waves-effect">Pujar</button>
            </form>
        </div>
    </div>
{% endblock %}

